body {
    background-image: url(../img/background2.jpg!d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main {
    background-color:rgba(0, 0, 0, 0.6);
}
img {
    width: 100%;
    height: 100%;
}
.imgfooter {
    width: auto;
}
.fa {
    font-size:30px;
    padding:0 8px;
    color:#343a40;
}
