body {
    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.titulo, .galeriablog {
    background-color:rgba(0, 0, 0, 0.4);
}
img {
    width: 100%;
    height: 100%;
}
.imgfooter {
    width: auto;
}
.titulo {
    width: auto;
    height: 300px;
}
.fa {
    font-size:30px;
    padding:0 8px;
    color:#343a40;
}
.productos {
    border-radius: 5px;
    border-color:#f8f9fa;
    border: 3px solid;
    padding:5px;
    margin:0 5px 10px 5px;
}
.blog {
    border-radius: 5px;
    border-color: #f8f9fa;
    border: 3px solid;
    padding:5px;
    margin:0 5px 10px 5px;
}