body {
    background-image: url(https://i.ibb.co/LZHmpQd/background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.titulo, .galeriablog {
    background-color:rgba(140, 140, 140, 0.4);
}
img {
    width: 100%;
    height: 100%;
}
.imgfooter {
    width: auto;
}
.titulo {
    width: auto;
    height: 300px;
}
.fa {
    font-size:30px;
    padding:0 8px;
    color:#343a40;
}