
.modal-header{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.modal-content{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#btn-send-gl,#btn-send-fb,#btn-send-main{
    margin-bottom: 25px;    
}
#btn-send-gl,#btn-send-fb{
    border: none;    
    
}
#btn-send-gl{
    background-color:#F02B24;
}
#btn-send-fb{
    background-color:#1935C7;
   }

.imgfooter {
    width: auto;
}
.social {
    font-size:30px;
    padding:0 8px;
    color:#343a40;
}
body{
    background-image: url(../img/background2.jpg!d);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    height: inherit;
}
main, .titulo {
    background-color:rgba(0, 0, 0, 0.6);
}