.container-fluid{
    margin: 50px;
 }
 
 .btn-send{
     margin-bottom: 30px;
     line-height: 20px;    
    
 }
 .btn-fb{
     background-color:#1935C7;
 }
  
 .btn-register{
    background-color: #DEF3CE;
    color: #000;
 }
 
 .card{
     border: none;
 }
 